@model Mvc.Models.Classes.User
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LoggedMainLayout.cshtml";
}

<div style="display:flex;justify-content:center;align-items:center;">
    @using (Html.BeginForm("ChangePassword", "AccountOperations", FormMethod.Post))
    {
        @Html.DisplayFor(k => k.UserPassword);
        @Html.TextBoxFor(k => k.UserPassword, new { @class = "form-control", @placeholder = "Yeni şifreyi buraya giriniz" });
        <input type="submit" value="Değiştir" class="btn btn-danger" />
    }
</div>

