
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}



    <form class="form-group" method="post">

        <div>
            <label>Kategori Adı</label>
            <input type="text" class="form-control" name="KATEGORIAD" placeholder="Kategori Adını Giriniz"  required="" />
        </div>

        <div style="margin-left:100px ; margin-top:15px">
            <button class="btn btn-danger">Kategoriyi kaydet</button>
        </div>
        
    </form>



