@using Mvc_Car_Selling_Template.Models
@model List<Cars>
@{
    ViewBag.Title = "ListAllCars";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@foreach(var car in Model)
{
<div style="display:flex;flex-direction:column">
    <img src="@car.CarPhoto" style="width:600px;height:auto" />
    <a href="/Car/DetailedCarByID/@car.CarID">@car.CarModel</a>
    <p style="width:100%; height:auto;border-bottom:1px solid #5f5f5f">@car.CarDescription</p>
</div>
  
}
