
@{
    ViewBag.Title = "MüşteriEkle";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}


    <form method="post">

        <div>
            <label>Adınızı giriniz</label>
            <input class="form-control" name="MUSTERIAD" type="text" />
        </div>

        <div>
            <label>Soyadınızı giriniz</label>
            <input class="form-control" name="MUSTERISOYAD" type="text" />
        </div>

        <div>
            <button class="btn btn-danger">Müşteri Ekle</button>
        </div>

    </form>


