
@{
    ViewBag.Title = "GiveRecipesForNonUsers";
    Layout = "~/Views/Shared/NonUserLayout.cshtml";
}

<h2>To Give Us Recipes Please Sign Up</h2>
<a class="btn btn-danger" href="/User/SignUp">Sign Up</a>


