
@{
    ViewBag.Title = "Profilim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profilim Sayfasına Hoş Geldiniz</h2>
<h3 style="font-family:monospace; text-orientation:mixed ">İsim : Emir Görkem Özdemir </h3>
<h3>Okul No: 195050024</h3>

